.contact-section {
    background: var(--ff);
    padding: 117px 0 123px 11px;
}

.contact {
    display: flex;
    gap: 80px;
    @include tablet {
        flex-direction: column;
        gap: 50px;
    }

    &__title {
        color: var(--c-black);
        font-family: var(--ff);
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 53px;
    }

    &__desc {
        color: var(--c-black);
        text-align: justify;
        font-family: var(--ff);
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        max-width: 434px;
    }

    &__form {
        display: flex;
        gap: 30px;
    }

    &__col {
        border-radius: 6px;
        border: 1px solid var(--gray-1, #333);
        margin-bottom: 24px;
        padding: 20px 30px;
    }

        &__input {
        width: 100%;
        background: transparent;
        border: 0;
        outline: 0;
    }

}
